.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    font-size: 16px;
}

.content {
    text-align: center;
}

.box {
    width: 200px;
    background: cadetblue;
    margin: 10px;
    padding: 40px;
    border-radius: 5px;
    /* <div>, <p>, <h> 박스 특징
     display: block 기본으로 있음
     따라서 생략이 가능함.
     가로행을 전부 차지하게 해라 라는 뜻 */
    margin-left: auto;
    margin-right: auto;
    /* 부모 태그에 font-size를 줘도 적용된다.
     왜냐하면 일부 스타일은 inherit 된다.
     inherit 지원하는 스타일은 정해져 있다.
     font-size, font-family, color 등 */
    color: white;
    box-shadow: 5px 5px black;
}

.containter {
    width: 800px;
}

.header {
    width: 100%; /* 부모 태그 width의 100% */
    height: 50px;
    background: aquamarine
}

.left-menu {
    width: 20%; /* 부모 태그 width의 30% */
    height: 400px;
    background: cornflowerblue;
    float: left; /* 요소를 붕 띄워서 왼쪽 정렬 */
}

.right {
    width: 80%;
    height: 400px;
    background: coral;
    float: left; /* 박스 가로배치 할 때 float 쓰면 된다. */
}

.footer {
    width: 100%;
    height: 100px;
    background-color: gray;
    /* float 다음에 오는 요소에게 주면
     float로 발생하는 이상한 현상 해결 가능 */
    clear: both; /* left, right 둘 다 클리어, 여기서는 left만 써도 된다. */
    /* float 쓰고나서 다음에 오는 요소는 clear 주는게 좋다. */
}
